#product-container1 {
        background-color: rgb(241, 241, 241);
        position: absolute;
        text-align: center;
        top: 650px;
        left: 60px;
        width: 230px;
        height: 370px;
        color: rgb(0, 0, 0);
        box-shadow: 5px 5px 5px rgba(168, 168, 168, 0.527);
        border-radius: 10px;
        padding: 10px 12px;
}
#product-img1 {
    border-radius: 20px;
    height: 190px;
}
#product-container2 {
    background-color: rgb(241, 241, 241);
    position: absolute;
    text-align: center;
    top: 0px;
    left: 300px;
    width: 230px;
    height: 370px;
    color: rgb(0, 0, 0);
    box-shadow: 5px 5px 5px rgba(168, 168, 168, 0.527);
    border-radius: 10px;
    padding: 10px 12px;
}
#product-img2 {
    border-radius: 20px;
    height: 190px;
}
#product-container3 {
    background-color: rgb(241, 241, 241);
    position: absolute;
    text-align: center;
    top: 0px;
    left: 300px;
    width: 230px;
    height: 370px;
    color: rgb(0, 0, 0);
    box-shadow: 5px 5px 5px rgba(168, 168, 168, 0.527);
    border-radius: 10px;
    padding: 10px 12px;
}
#product-img3 {
    border-radius: 20px;
    height: 190px;
}
#product-container4 {
    background-color: rgb(241, 241, 241);
    position: absolute;
    text-align: center;
    top: 0px;
    left: 300px;
    width: 230px;
    height: 370px;
    color: rgb(0, 0, 0);
    box-shadow: 5px 5px 5px rgba(168, 168, 168, 0.527);
    border-radius: 10px;
    padding: 10px 12px;
}
#product-img4 {
    border-radius: 20px;
    height: 190px;
}
#product-container5 {
    background-color: rgb(241, 241, 241);
    position: absolute;
    text-align: center;
    top: 430px;
    right: 900px;
    width: 230px;
    height: 370px;
    color: rgb(0, 0, 0);
    box-shadow: 5px 5px 5px rgba(168, 168, 168, 0.527);
    border-radius: 10px;
    padding: 10px 12px;
}
#product-img5 {
    border-radius: 20px;
    height: 190px;
}
#product-container6 {
    background-color: rgb(241, 241, 241);
    position: absolute;
    text-align: center;
    top: 0px;
    left: 300px;
    width: 230px;
    height: 370px;
    color: rgb(0, 0, 0);
    box-shadow: 5px 5px 5px rgba(168, 168, 168, 0.527);
    border-radius: 10px;
    padding: 10px 12px;
}
#product-img6 {
    border-radius: 20px;
    height: 190px;
}
#product-container7 {
    background-color: rgb(241, 241, 241);
    position: absolute;
    text-align: center;
    top: 0px;
    left: 300px;
    width: 230px;
    height: 370px;
    color: rgb(0, 0, 0);
    box-shadow: 5px 5px 5px rgba(168, 168, 168, 0.527);
    border-radius: 10px;
    padding: 10px 12px;
}
#product-img7 {
    border-radius: 20px;
    height: 190px;
}
#product-container8 {
    background-color: rgb(241, 241, 241);
    position: absolute;
    text-align: center;
    top: 0px;
    left: 300px;
    width: 230px;
    height: 370px;
    color: rgb(0, 0, 0);
    box-shadow: 5px 5px 5px rgba(168, 168, 168, 0.527);
    border-radius: 10px;
    padding: 10px 12px;
}
#product-img8 {
    border-radius: 20px;
    height: 190px;
}
#igm1,#igm2,#igm3,#igm4,#igm5 {
    width: 260px;
    height: 310px;
    position: absolute;
    top: 50px;
    left: 95px;
    border-radius: 10px;
    display: block;
}
#igm1- {
    width: 50px;
    height: 70px;
    position: absolute;
    top: 350px;
    left: 85px;
    border-radius: 10px;
    opacity: 0.65;
    transition: 85ms ease-in-out 80ms;
}
#igm1-:hover {
    top: 347px;
    height: 74px;
    opacity: 1;
}
#igm2- {
    width: 50px;
    height: 70px;
    position: absolute;
    top: 350px;
    left: 142px;
    border-radius: 10px;
    opacity: 0.65;
    transition: 85ms ease-in-out 80ms;
}
#igm2-:hover {
    top: 347px;
    height: 74px;
    opacity: 1;
}
#igm3- {
    width: 50px;
    height: 70px;
    position: absolute;
    top: 350px;
    left: 200.5px;
    border-radius: 10px;
    opacity: 0.65;
    transition: 85ms ease-in-out 80ms;
}
#igm3-:hover {
    top: 347px;
    height: 74px;
    opacity: 1;
}
#igm4- {
    width: 50px;
    height: 70px;
    position: absolute;
    top: 350px;
    left: 259px;
    border-radius: 10px;
    opacity: 0.65;
    transition: 85ms ease-in-out 80ms;
}
#igm4-:hover {
    top: 347px;
    height: 74px;
    opacity: 1;
}
#igm5- {
    width: 50px;
    height: 70px;
    position: absolute;
    top: 350px;
    left: 316px;
    border-radius: 10px;
    opacity: 0.65;
    transition: 85ms ease-in-out 80ms;
}
#igm5-:hover {
    top: 347px;
    height: 74px;
    opacity: 1;
}